@model LearningHubMVC.Models.User
@{
    ViewBag.Title = "Get Values";
}
<br />
<br />
<div class="row">  
    <div class="col-md-9">  
        
            
            <div>  
                <label>ID:  </label>  
                <label>@Model.ID </label>  
            </div> 
           <div>  
                <label>Password:  </label>  
                <label>@Model.password </label>               
            </div> 
            <div>  
                <label>Role:  </label>  
                <label>@Model.Role </label>               
            </div> 
            
            <div>  
                <label>Registered Date:  </label>  
                <label>@Model.registeredDate </label>            
            </div> 
        
            
    </div>  
 </div>  
        <div>  
            <a asp-action="LoginPage" asp-controller="User">Back to List</a>  
        </div>  
  
